/*Indice*/

#indice {
    background-color: rgb(0, 108, 103);
    text-align: center;
    padding: 25px;
    position: fixed;
    width: 100%;
    z-index: 1;
}

#indice div{
    vertical-align: middle;
    display: inline-block;
    padding: 5px 20px 5px;
    font-family: system-ui;
}

#indice div a{
    text-decoration: none;
    background-color: transparent;
    color: white;
}

#indice a:hover{
    border: 2px solid white;
    padding: 20px;
    transition-duration: .5s;
}

/*-----------------*/


body {
    margin: 0;
    width: 100%;
    background-color: white;
    font-family: monospace;
}

#abilities, #home{
    height: 320px;
}

h1, h2{
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 3em;
}

/*home*/

#home {
    background-color: #FE9000;
    padding:  15% 5% 0;
}

#home div{
    display: inline-block;
    vertical-align: middle;
}

#home div:nth-child(1) {
    width: 42%;
    padding-left: 12%;
    padding-right: 5%;
}

#home div:nth-child(1) p{
    font-size: 20px;
    margin: 0;
    padding: 0;
}

#home div:nth-child(1) p:last-child{
    font-weight: bolder;
    font-size: 25px;
}

#home div:nth-child(1) h1{
    text-align: left;
    margin: 0;
    padding: 0;
}

#home div:nth-child(1) a{
    color: white;
    margin-top: 5%;
    display: inline-block;
    border: 1px solid #006C67;
    background-color: #006C67;
    border-radius: 25px;
    padding: 17px;
    text-decoration: none;
    font-size: 15px;
    font-weight: bolder;
    text-align: center;
    transition: padding;
}

#home div:nth-child(1) a:hover{
    border: 2px solid white;
    font-size: larger;
    transition-duration: .5s;
    padding: 20px;
}

#home div:nth-child(2) {
    text-align: left;
}

#guilherme {
    border-radius: 100%;
    border: 10px solid white;
}
/*-----------------*/

/*Projects*/

#projects {
    background-color: black;
    color: white;
    border: 2px solid black;
    padding: 5% 0;
}

#projects div{
    text-align: center;
}

#projects-img div{
    width: 30%;
    display: inline-block; 
}

#projects img{
    width: 90%;
    animation-delay: 2s;
    border: 2px solid white;
}

#projects #buttom{
    padding: 20px 0;
    font-size: 15px;
}

#projects button{
    background-color: #FE9000;
    border: none;
    padding: 10px 40px;
    font-size: 15px;
    border-radius: 25px;
    font-family: monospace;
    font-weight: bolder;
    color: black;
}

#projects button:hover {
    font-size: larger;
    padding: 15px 50px;
    transition-duration: 1s;
    border: 2px solid white;
}

/*-----------------*/

/*About me*/

#about-me {
    background-color: #006C67;
    text-align: center;
    padding: 8% 0;
    line-height: 3em;
}

#about-me a{
    font-weight: bolder;
    text-decoration: none;
    color: white;
    opacity: 80%;
    transform: opacity;
}

#about-me a:hover{
    opacity: 100%;
    transition-duration: .5s;
}

#about-me div{
    vertical-align: middle;
    display: inline-block;
}

#about-me div:first{
    width: 30%;
}

#about-me div:last-child{
    font-size: 20px;
    color: black;
    width: 50%;
    line-height: 20px;
    text-align: left;
}

#about-me p {
    text-indent: 2em;
}

#about-me h2{
    margin-bottom: 30px;
    color: white;
    text-align: left;
}

#about-me img{
    filter: grayscale(100%);
}

/*-----------------*/
/*Abilities*/

#abilities {
    vertical-align: middle;
    padding-top: 5%;
    padding-bottom: 8%;
    text-align: center;
    background-color: black;
    color: white;
}

#abilities h2{
    margin-bottom: 2%;
}

#abilities img{
    width: 80px;
    padding: 1%;
}

#images, #description{
    text-align: right;
    width: 48%;
    display: inline-block;
}

#description {
    padding-left: 2%;
    vertical-align: top;
}

#description p{
    text-align: left;
    width: 50%;
    font-size: larger;
}

#images img{
    opacity: 80%;
}

#images img:hover{
    opacity: 100%;
    width: 100px;
}
/*-----------------*/
/*foote*/

#footer {
    padding: 2% 0;
    text-align: center;
    font-size: 15px;
}

#footer p, img{
    display: inline-block;
    vertical-align: middle;
}


/*-----------------*/